.container {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}

.item-1 {
    background-color: magenta;
}
.item-2 {
    background-color: cyan;
}
.item-3 {
    background-color: yellow;
}